.budgetview {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
  }

  .budget__title {
    display: flex;
    justify-content: center;
  }

  .budget_date {
    display: flex;
    justify-content: flex-start;
    flex-shrink: 1;
    border: 1px solid black;
  }

  .expense__title {
    display: flex;
    justify-content: center;
  }

  .category{
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    border: 1px solid goldenrod;
  }

  