.budgets {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fbf5f3;

  /* justify-content: space-between; */
}

.budget {
  max-width: 30em;
  flex-wrap: wrap;
  padding: 10em;
  background-color: #e28413;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
  align-self: auto;
  margin: 3em;
  border-radius: 15px;
  box-sizing: border-box;
}
.budget_detail {
  max-width: 30em;
  flex-wrap: wrap;
  padding: 10em;
  background-color: #e28413;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
  align-self: auto;
  margin: 3em;
  border-radius: 15px;
}

.btn_logo {
  display: flex;
  flex-direction: row;
}

.budgetview {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.budgetForm__title {
  display: flex;
  justify-content: center;
}

.form_background {
  background-color: #e28413;
  margin: 3em;
  border-radius: 15px;
  padding-bottom: 10px;
}

.add_button {
  display: flex;
  justify-content: center;
  margin-left: 48%;
  margin-right: 48%;
  color: #fbf5f3;
  background-color: #fbf5f3;
  background-color: cutom-color;
  border-color: #fbf5f3;
  border-color: cutom-cor;
  margin-bottom: 10px;
}

.budget_button {
  display: flex;
  margin-right: auto;
}

.budget_cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  align-self: auto;
}

.btn-primary {
  color: #fbf5f3;
  background-color: #fbf5f3;
  background-color: cutom-color;
  border-color: #fbf5f3;
  border-color: cutom-cor;
}
