.budgetview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .budget__title {
    display: flex;
    justify-content: center;
  }

  .budget_date {
    display: flex;
    justify-content: center;
    padding-left: 25%;
    padding-right: 25%;
    border: 1px solid coral;
  }

  .expense__title {
    display: flex;
    justify-content: center;
  }

.counter {
  display: flex;
  justify-content: flex-end;
  border: 1px solid coral;
  margin-left: auto;
  padding: 5%;
  
}  

  .addExpense {
    margin-right: auto;
  }

  .chart_counter {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .category_card {
  display: flex;
  
  }